{% extends "carteira_base.html" %}

{% block dash_content %}
<div class="inner">
   <h2>Minhas Carteiras</h2>
    <form class="" method="POST">
        {% csrf_token %}
        <input name="pescli" type=""></th>
      
        <button method="POST" class="btn btn-primary"> 
        Pesquizar</button>
    </form>
        <div class="well">
            {% regroup carteiras by id_cliente as carteiras_por_cliente %}
            {% for grupo in carteiras_por_cliente %}
            <h3>{{ grupo.grouper.name }}</h3>
            <table class="table">
                <thead class="thead-light">
                    <tr><th>Carteira</th><th>Ações</th></tr>
                </thead>
                <tbody>
                    {% for con in grupo.list %}
                    <tr>
                        <td><a href="{% url 'car:carteira_amostra' con.id %}">{{ con.name }}</a></td>
                        <td><a onclick="if (!confirm('Excluir Carteira?')) { return false; }" class="confirmation" href="{% url 'car:carteira_apagar' con.id %}">
                            <i class="fa fa-times-circle"></i> Excluir
                        </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% empty %}
            <p>Nenhuma carteira encontrada.</p>
            {% endfor %}
        </div>
</div>         
{% endblock %}
